﻿@using Fr.EQL.AI110.DLD_GE.Entities;
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model CreateDonViewModel

<div class="selection-main-container">
    <h1 class="function-title">Ou désirez-vous déposer stocker votre don?</h1>
    <div class="selection-container">
            <form method="post" asp-action="Edit">
                <div class="btn-command">
                    <input type="submit" value="A domicile" name="validate" class="partner-btn" />
                </div>  
                <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh" />
                <input type="hidden" asp-for="@Model.SelectedCategorie.IdCategorie" />
                <input type="hidden" asp-for="@Model.SelectedSousCategorie.IdSousCategorie" />
                <input type="hidden" asp-for="@Model.SelectedProduit.IdProduit" />
                <input type="hidden" asp-for="@Model.Don.Quantite" />
                <input type="hidden" asp-for="@Model.SelectedUnity.IdUnite"/>
                <input type="hidden" asp-for="@Model.Don.DateLimite" />
               
               

            </form>
            
            
            <form method="get" asp-action="IndexInfraParVille">
                <div class="btn-command">
                    <input type="submit" value="Chez un partenaire" name="validate" class="partner-btn" />
                </div>  
                <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh" />
                <input type="hidden" asp-for="@Model.SelectedCategorie.IdCategorie" />
                <input type="hidden" asp-for="@Model.SelectedSousCategorie.IdSousCategorie" />
                <input type="hidden" asp-for="@Model.SelectedProduit.IdProduit" />
                <input type="hidden" asp-for="@Model.Don.Quantite" />
                <input type="hidden" asp-for="@Model.SelectedUnity.IdUnite"/>
                <input type="hidden" asp-for="@Model.Don.DateLimite" />
                <input type="hidden" asp-for="@Model.InfrastockageDetails" />  
            </form>
                  
        
    </div>
</div>


