﻿@using Fr.EQL.AI110.DLD_GE.Entities;
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model CreateDonViewModel

<div class="selection-main-container">
    <h1 class="function-title">Choisissez la sous-catégorie</h1>
    <div class="selection-container">
        <form method="post" asp-action="CatchSubCategory">
            <div class="selection">
                <div class="selection-line">
                    <span class="selection-title">Adhérent selectionné : </span>
                    <span class="selectionned">@Model.SelectedAdherent.Nom</span>
                </div>
                <div class="selection-line">
                    <span class="selection-title">Catégorie selectionné : </span>
                    <span class="selectionned">@Model.SelectedCategorie.Nom</span>
                </div>
                <div class="selection-line">
                    <span class="selection-title">Sous-catégorie : </span>
                    <select asp-for="@Model.SelectedSousCategorie.IdSousCategorie">
                        @foreach (Souscategorie subCategory in Model.SousCategories)
                        {
                            <option value="@subCategory.IdSousCategorie">@subCategory.Nom</option>
                        }
                    </select>
                </div>
                <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh" />
                <input type="hidden" asp-for="@Model.SelectedCategorie.IdCategorie" />
                <div class="btn-command">
                    <input type="submit" value="Suivant" name="validate" class="next-btn" />
                </div>
            </div>
        </form>
    </div>
</div>