﻿@using Fr.EQL.AI110.DLD_GE.Entities;
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model CreateDonViewModel

<div class="selection-main-container">
    <h1 class="function-title">Choisissez la catégorie</h1>
    <div class="selection-container">
        <form method="post" asp-action="CatchCategory">
            <div class="selection">
                <div class="selection-line">
                    <span class="selection-title">Adhérent selectionné : </span>
                    <span class="selectionned">@Model.SelectedAdherent.Nom</span>
                </div>
                <div class="selection-line">
                    <span class="selection-title">Catégorie : </span>
                    <select asp-for="@Model.SelectedCategorie.IdCategorie">
                        @foreach (Categorie categorie in Model.Categories)
                        {
                            <option value="@categorie.IdCategorie">@categorie.Nom</option>
                        }
                    </select>
                </div>
                <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh"/>
                <div class="btn-command">
                    <input type="submit" value="Suivant" name="validate" class="next-btn" />
                </div>
            </div>
        </form>
    </div>
</div>