﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model CreateDonViewModel

<div class="don-container">
    <h2 class="don-title">Don de l'adherent @Model.SelectedAdherent.Prenom @Model.SelectedAdherent.Nom</h2>
    <form method="post" asp-action="CatchAdherent">
        <input type="submit" value="Ajouter" name="add" class="add-btn" />
        <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh" />
    </form>
    <div class="don-container-row">
        @foreach (DonDetails d in Model.DonDetails)
        {
            <div class="don-container-card-col">
                <img src="/images/productcard.jpg">
                <a asp-controller="don"
                asp-action="InfosDon"
                asp-route-id="@d.IdDon"
                asp-route-controllerO="2">
                <button class="don-container-card-btn">Voir le détail</button></a>
                <h4>Don n. @d.IdDon</h4>
                <h4>@d.Quantite @d.NomUnity de @d.NomProduit</h4>
                @if(d.Status.Contains("Annulé") || d.Status.Contains("Périmé"))
                {
                    <h4 class="expiration">A Récupérer</h4>
                }
                else if (d.DateDepotStockage.ToString("MM/dd/yyyy") == "01/01/0001" && d.IdEmplacementStockage != 0)
                {
                    <h4 class="expiration">A déposer chez le partenaire</h4>
                }
                else
                {
                    <h4>Stocké à domicile</h4>
                }
                @if(Convert.ToInt32(d.DurationDays) > 0)
                {
                    <h4>Périme dans @Convert.ToInt32(d.DurationDays) jour(s)</h4>
                }
                else if (Convert.ToInt32(d.DurationDays) < 0)
                {
                    <h4 class="expiration">Périmé depuis @(Convert.ToInt32(d.DurationDays)*-1) jour(s)</h4>
                }
                else
                {
                    <h4 class="expiration-today">Périme aujourd'hui</h4>
                }
                @if(d.Status.Contains("Annulé")){
                    <h4 class="expiration">@d.Status</h4>
                } else {
                    <h4>@d.Status</h4>
                }
                
            </div>
        }
    </div>
</div>