﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model DonDetailsViewModel


@if (Model.ControllerOrigine == 0)
{
    <h1>Détails de mon don proposé</h1>
}
@if (Model.ControllerOrigine == 1)
{
    <h1>Détails de mon don proposé</h1>
}
@if (Model.ControllerOrigine == 2)
{
    <h1>Détails du don recherché</h1>
}
@if (Model.ControllerOrigine == 3)
{
    <h1>Détails de ma réservation</h1>
}

<section class="product-details">
    <div class="image-slider">
        <img src="/images/productcard.jpg">
    </div>
    <div class="details-fiche">
        <h2 class="product-brand">@Model.DonDetails.NomProduit</h2>
        <p class="product-short-des">@Model.DonDetails.SousCatNom > @Model.DonDetails.CatNom</p>
        <p class="product-short-des">Proposé par : @Model.DonDetails.AdhPrenom</p>
        <p class="product-short-des">Stockage : @Model.DonDetails.NumRue @Model.DonDetails.LibeleVoie @Model.DonDetails.PostalCode @Model.DonDetails.VilleNom</p>
        <p class="product-short-des">À récupérer avant le @Model.DonDetails.DateLimite.ToString("dd MMMM yyyy")</p>
        <p class="product-short-des">@Model.DonDetails.Quantite @Model.DonDetails.UniteNom</p>
    
        @if (Model.ControllerOrigine == 0)
        {
            <a asp-controller="don"
           asp-action="ConfirmationAnnulation"
           asp-route-id="@Model.Id">
                <button class="partner-btn">Annuler mon don</button>
            </a>
        }
        @if (Model.ControllerOrigine == 1)
        {
            Don don = new Don();
            <a asp-controller="don"
           asp-action="InfosDon"
           asp-route-id="@don.IdDon">
                <button class="details">Valider le dépôt de mon don</button><button class="details">Récupérer</button><button class="don-container-card-btn">Annuler mon don</button>
            </a>
        }
        @if (Model.ControllerOrigine == 2)
        {
            Don don = new Don();
            <a asp-controller="don"
           asp-action="InfosDon"
           asp-route-id="@don.IdDon">
                <button class="details">Ajouter ce don à mon panier</button>
            </a>
        }
        @if (Model.ControllerOrigine == 3)
        {
            Don don = new Don();
            <a asp-controller="don"
           asp-action="InfosDon"
           asp-route-id="@don.IdDon">
                <button class="details">Récupérer ma réservation</button><button class="details">Annuler ma réservation</button>
            </a>
        }

    </div>
</section>