﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model CreateDonViewModel

<div class="don-container">
    <div class="don-container-row">
        @foreach (EmplacementstockageDetails e in Model.empsDetails)
        {
            <div class="don-container-card-col">
                <img src="/images/emplacement.png">
                <h3>Emplacement n. @e.Numemplacement</h3>
                <h5>Dimension: @e.Dimension</h5>
                <h5>
                    Adresse:
                    @if (e.LibelevoieInf != null)
                    {
                        @e.NumrueInf @e.ComplementInf  @e.LibelevoieInf
                        <input type="hidden" asp-for="@Model.Numrue" value=@e.NumrueInf />
                        <input type="hidden" asp-for="@Model.Libelevoie" value=@e.LibelevoieInf />
                        <input type="hidden" asp-for="@Model.Complement" value=@e.ComplementInf />
                    }
                    @if (e.LibelevoieInf == null)
                    {
                        @e.NumruePart @e.ComplementPart  @e.LibelevoiePart
                        <input type="hidden" asp-for="@Model.Numrue" value=@e.NumruePart />
                        <input type="hidden" asp-for="@Model.Libelevoie" value=@e.ComplementPart />
                        <input type="hidden" asp-for="@Model.Complement" value=@e.LibelevoiePart />
                    }
                </h5>
                <h5>@e.Codepostal @e.Nomville</h5>




                <form method="post" asp-controller="don" asp-action="Edit"
                  asp-route-id="@e.Idemplacementstockage">

                    <button class="don-container-card-btn">Deposer ici</button>
                    <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh" />
                    <input type="hidden" asp-for="@Model.SelectedCategorie.IdCategorie" />
                    <input type="hidden" asp-for="@Model.SelectedSousCategorie.IdSousCategorie" />
                    <input type="hidden" asp-for="@Model.SelectedProduit.IdProduit" />
                    <input type="hidden" asp-for="@Model.Don.Quantite" />
                    <input type="hidden" asp-for="@Model.SelectedUnity.IdUnite" />
                    <input type="hidden" asp-for="@Model.Don.DateLimite" />
                    <input type="hidden" asp-for="@Model.InfrastockageDetails" />
                    <input type="hidden" asp-for="@Model.Idville" value=@e.Idville />
                    @if (e.LibelevoieInf != null)
                    {
                        <input type="hidden" asp-for="@Model.Numrue" value=@e.NumrueInf />
                        <input type="hidden" asp-for="@Model.Libelevoie" value=@e.LibelevoieInf />
                        <input type="hidden" asp-for="@Model.Complement" value=@e.ComplementInf />
                    }
                    @if (e.LibelevoieInf == null)
                    {
                        <input type="hidden" asp-for="@Model.Numrue" value=@e.NumruePart />
                        <input type="hidden" asp-for="@Model.Libelevoie" value=@e.LibelevoiePart />
                        <input type="hidden" asp-for="@Model.Complement" value=@e.ComplementPart />
                    }

                </form>


            </div>
        }
    </div>
</div>