﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model AddBasketViewModel

<div class="selection-main-container">
    <h1 class="function-title">Choisissez l'adhérent à connecter</h1>
    <div class="selection-container">
        <form method="post" asp-action="AddBasket">
            <div class="selection">
                <div class="selection-line">
                    <span class="selection-title">Nom de l'adherent : </span>
                    <select asp-for="@Model.ConnectedAdherent.Idadh" class="selection-list">
                        @foreach (Adherent adherent in Model.Adherents)
                        {
                            <option value="@adherent.Idadh">@adherent.Nom</option>
                        }
                    </select>
                </div>
                <div class="btn-command">
                    <input type="hidden" asp-for="@Model.SelectedIdDon" />
                    <input type="submit" value="Suivant" name="validate" class="next-btn" />
                </div>
            </div>
        </form>
    </div>
</div>