﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model PartenaireDetails

<form method="post">
    <div class="search home-search">
        <select class="search-box" asp-for="Idville">
            <option value="0">ville</option>
            @foreach (Ville v in Model.Villes)
            {
                <option value="@v.Idville">@v.Nom</option>
            }
        </select>
        <input type="submit" class="search-btn" value="Trier" />
    </div>
</form>

<div class="don-container">
    <div class="don-container-row">
        @foreach (PartenaireDetails p in Model.PartenairesDetails)
        {
            <div class="don-container-card-col">
                <img src="/images/infrapartner.png">
                <h4>@p.Nomsociete</h4>
                <h5>@p.Numrue @p.Libelevoie</h5>
                <h5>@p.PostalCode @p.Nomville</h5>
                <h5>+33 @p.Numtelephone</h5>
                <a asp-controller="Partenaire"
               asp-action="InfoEmplacementPartenaire"
               asp-route-id="@p.Idpartenaire"><button class="don-container-card-btn">Voir ses emplacements</button></a>
            </div>
        }
    </div>
</div>