* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
}

.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-basket-user {
    display: flex;
    align-items: center;
}

.search {
    width: 500px;
    display: flex;
}

.search-box {
    /*width: 80%;*/
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn {
    width: 30%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
}

.advanced {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    margin-left: 10px;
}

.home-search {
    margin-left: 10px;
    margin-top: 10px;
}

.search-btn:hover {
    background-color: red;
    transition: 0.5s;
    /*letter-spacing: 1px;*/
}

.basket-link {
    margin-right: 40px;
}

.user-link {
    margin-left: 10px;
}

.nav-basket-user img {
    width: 30px;
}

.brand-logo {
    height: 60px;
}

.nav-connection-info {
    display: flex;
    flex-direction: column;
}

    .nav-connection-info div {
        display: flex;
        justify-content: flex-end;
        color: #555;
    }

.container {
    margin-left: 5rem;
}

.left-navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #383838;
    transition: width 200ms ease;
}

    .left-navbar:hover {
        width: 16rem;
    }

        .left-navbar:hover .dashboard-title,
        .left-navbar:hover .about-contact-text,
        .left-navbar:hover .dashboard-text {
            display: block;
        }

.dashboard,
.about-contact {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-item-title,
.about-contact-item,
.dashboard-item,
.empty-item {
    display: flex;
    align-items: center;
    height: 3rem;
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.dashboard-logo,
.about-contact-logo {
    width: 30px;
    height: 30px;
    margin: 1.5rem;
}

.dashboard-title {
    display: none;
    font-size: 25px;
    letter-spacing: 2px;
}

.about-contact-text,
.dashboard-text {
    display: none;
    font-size: 15px;
    letter-spacing: 1px;
}

.about-contact-link,
.dashboard-link {
    text-decoration: none;
    color: #fff;
}

.about-contact-item:hover,
.dashboard-item:hover {
    background-color: red;
    transition: 0.5s;
}

.selection-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 21rem;
    margin-top: 5rem;
    width: 50%;
}

.selection-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-btn {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0;
    text-transform: capitalize;
}

    .next-btn:hover, .partner-btn:hover, .add-btn:hover, .remove:hover, .basket-total input:hover, .details:hover {
        background-color: red;
        transition: 0.5s;
        /*letter-spacing: 2px;*/
        color: #fff;
    }

.add-btn {
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0;
    text-transform: capitalize;
}

.remove, .details {
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 12px;
    cursor: pointer;
    margin: 10px 0;
    text-transform: capitalize;
}

.basket-total input {
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 12px;
    cursor: pointer;
    margin: 10px 0;
    text-transform: capitalize;
}

.partner-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 24px;
    cursor: pointer;
    margin: 10px 0;
    text-transform: capitalize;
}

.btn-command {
    display: flex;
    justify-content: center;
    width: 100%;
}

.function-title, .don-title {
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
}

    .function-title::after, .don-title::after {
        content: '';
        background: #ff523b;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
}

.selection-line {
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
    justify-content: center;
}

    .selection-line select,
    .selectionned {
        margin-left: 5px;
    }

.container-zoneConcepte img {
    width: 100%;
    height: 600px;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #555555;
    font-style: italic;
    font-size: 18px;
}

.centered {
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-frame {
    display: inline-block;
    width: 15rem;
    height: 25rem;
    border: 3px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: fuchsia;
    color: chartreuse;
    object-position: top;
}

.item-frame-part {
    display: inline-block;
    width: 15rem;
    height: 10rem;
    border: 3px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: fuchsia;
    color: chartreuse;
    object-position: top;
}

.item-frame img {
    border: 1px solid black;
    max-width: 100%;
    max-height: 50%;
    object-position: center top;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.don-container {
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.don-container-row {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.don-container-card-col {
    /*flex-basis: 25%;*/
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

    .don-container-card-col img {
        width: 238px;
        height: 317px;
    }

    .don-container-card-col h4 {
        color: #555;
        font-weight: normal;
    }

    .don-container-card-col:hover {
        transform: translateY(-10px);
    }

.don-container-card-btn {
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    position: absolute;
    bottom: 125px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.don-container-card-buy {
    bottom: 175px;
}

.don-container-card-col:hover .don-container-card-btn {
    opacity: 1;
}

.don-container-card-btn:hover {
    background: #efefef;
}

.basket-main-container {
    max-width: 1200px;
    margin: 0 auto;
}

    .basket-main-container > h1 {
        padding: 20px 0;
    }

.basket-container {
    display: flex;
}

.basket-products {
    flex: 0.75;
}

.product {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
}

    .product:hover {
        border: none;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        transform: scale(1.01);
    }

    .product > img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

        .product > img:hover {
            transform: scale(1.04);
        }

.product-info {
    padding: 20px;
    width: 100%;
    position: relative;
}

.product-name, product-other-info {
    margin-bottom: 5px;
}

.basket-total {
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}

    .basket-total p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        font-size: 20px;
    }

.don-container-card-col .expiration {
    color: red;
}

.don-container-card-col .expiration-today {
    color: orange;
}

.product-details {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
}

.image-slider {

    position: relative;
    background-size: cover;
}

    .image-slider img {
    width: 500px;
    height: 500px;
    }

.details-fiche {
    width: 50%;
}

    .details-fiche .product-brand {
        text-transform: capitalize;
        font-size: 30px;
    }

    .details-fiche .product-short-des {
        font-size: 25px;
        line-height: 30px;
        height: auto;
        margin: 15px 0 30px;
    }
