﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model List<DonDetails>

<div class="don-container">
    <div class="don-container-row">
        @foreach (DonDetails don in Model)
        {
            <div class="don-container-card-col">
                <img src="/images/productcard.jpg">
                <form method="post" asp-controller="Reservation" asp-action="CatchDon">
                <input type="hidden" asp-for="@don.IdDon" value="@don.IdDon" name="idDon" />
                <input class="don-container-card-buy don-container-card-btn" type="submit" value="Ajouter au panier" />
                </form>
                <button class="don-container-card-btn">Voir le détail</button>
                <h4>@don.Quantite @don.NomUnity de @don.NomProduit</h4>
                <h4>Périme le @don.DateLimite.ToString("dd MMMM yyyy")</h4>
                <h4>Proposé par @don.AdhPrenom</h4>
                <h4>Disponible à @don.VilleNom</h4>
            </div>
        }
    </div>
</div>